.sm{
    flex: 1;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.73);
-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.73);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.73);
padding: 20px;
margin-right: 20px;
}
.widgetsmtitle{
    font-size: 26px;
    font-weight: 600;
}
.widgetsmimg{
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
}
.widgetsmlist{
    margin: 0;
    padding: 0;
    list-style: none;
}
.widgetlistite{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.widgetsmuser{
    display: flex;
    flex-direction: column;
}
.widgetsmusername{
    font-weight: 600;
    
}
.widgetsmbtn{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}
.widgetsmicon{
    font-size: 16px;
    margin-right: 5px;
}